<div class="container">
  <img src="https://picsum.photos/300" alt="">
  <h1>Name: <%= @flat.name %></h1>
  <p>Located in <%= @flat.address %></p>
  <p>Price: <%= @flat.price_per_night %></p>
  <p>Number of peoples <%= @flat.number_of_guests %> max</p>
    <%= link_to 'Back to flat', flats_path(@flat) %>
</div>